# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [1]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [3]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
b = a[-3:]

[4, 5, 6]

In [6]:
# create a list of numbers from 1 to 20
c = [i  for i in range (1,21)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [10]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell
d =  [i  for i in range (2,100,2)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [13]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide(a,b):
    return a/b

In [15]:
# write a function that takes a string as input
# and return that string in all caps
def allCaps(a):
    return a.upper()

LOWER

In [18]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for i in range (1,31):
    if (i % 3 == 0 and i % 5 == 0):
        print("fizzbuzz")
    elif (i % 3 == 0):
        print("fizz")
    elif (i % 5 == 0):
        print("buzz")
    else:
        print (i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [23]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
d = {"Gyro": 9,"Burger":9, "Greek Salad": 8, "Philly Steak": 10}
print(d)

{'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

In [29]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
e = pd.read_csv("../data/starbucks.csv")

In [38]:
# output the calories, sugars, and protein columns only of every 40th row. 
print(e.iloc[40, [3, 11, 12]])

calories      5
sugars        0
protein     0.4
Name: 40, dtype: object

In [50]:
# select all rows with more than and including 400 calories
ans = e[e["calories"] >= 400]

In [45]:
# select all rows whose vitamin c content is higher than the iron content
res = e[e["vitamin c"] > e["iron"]]

In [48]:
# create a new column containing the caffeine per calories of each drink
e["caffeine per calories"] = e["caffeine"]/e["calories"]

In [57]:
# what is the average calorie across all items?
print(e["calories"].mean())

193.87190082644628

In [56]:
# how many different categories of beverages are there?
print(e.groupby("beverage_category"))

<bound method IndexOpsMixin.nunique of 0                        coffee
1                        coffee
2                        coffee
3                        coffee
4       classic espresso drinks
                 ...
237    frappuccino blended crme
238    frappuccino blended crme
239    frappuccino blended crme
240    frappuccino blended crme
241    frappuccino blended crme
Name: beverage_category, Length: 242, dtype: object>

In [ ]:
# what is the average # calories for each beverage category?

In [ ]:
# plot the distribution of the number of calories in drinks with a histogram

In [ ]:
# plot calories against total fat with a scatterplot